[Desktop Entry]
Type=Application
Name=@@PRODUCT_NAME@@ (@@NAMESPACE@@)
GenericName=@@PRODUCT_NAME@@
Comment=@@PRODUCT_NAME@@ packaged build (@@NAMESPACE@@)
Exec=env -u ELECTRON_RUN_AS_NODE OD_PACKAGED_NAMESPACE=@@NAMESPACE@@ @@EXEC_PATH@@ --appimage-extract-and-run %U
Icon=@@ICON_PATH@@
Categories=Development;Utility;
StartupWMClass=@@PRODUCT_NAME@@
StartupNotify=true
Terminal=false
MimeType=x-scheme-handler/od;
